[Desktop Entry]
Name=The GIMP
Name[cs]=GIMP
Name[da]=Gimp'en
Name[de]=GIMP
Name[fr]=The GIMP
Name[nl]=The GIMP
Name[no]=The GIMP
Name[pl]=GIMP
Name[pt]=O GIMP
Name[ru]=GIMP
Name[sk]=GIMP
Name[sv]=GIMP
Name[tr]=The GIMP
Name[zh_CN]=The GIMP
Name[zh_TW]=The GIMP
Comment=Create and edit images or photographs
Comment[cs]=Vytváření a úpravy obrázků a fotografií
Comment[da]=Opret og redigér billeder eller fotografier
Comment[de]=Bilder und Photos bearbeiten und erstellen
Comment[fr]=Créé et édite des images ou des photographies
Comment[pl]=Program do tworzenia oraz obróbki obrazów i fotografii
Comment[pt]=Criar e editar imagens ou fotografias
Comment[ru]=Создание и редактирование изображений или фотографий
Comment[sk]=Vytváranie a úprava obrázkov alebo fotografií
Comment[sv]=Skapa och redigera bilder eller fotografier
Comment[tr]=Resim ya da fotoğrafları oluşturun ve düzenleyin
Comment[zh_CN]=创建并编辑图像或照片
Comment[zh_TW]=建立/修改圖像或相片
Exec=gimp-1.2
Icon=/usr/share/gimp/1.2/wilber-icon.png
Terminal=0
Type=Application
Categories=Application;Graphics;RasterGraphics;
